.list-container 

  %p Click a title to take the quiz

  %ul{class: 'listings'}

  - if @quizzes.count > 0
    - @quizzes.each do |quiz|
      %li 
        = link_to quiz.title, new_quiz_attempt_path(quiz) 
        .author{class: 'author'}
          added by
          = quiz.author
        .crud-buttons
          = link_to 'Edit', edit_quiz_path(quiz)
          = link_to 'Delete', quiz, method: :delete, data: { confirm: 'Are you sure?'}
  - else
    %p No quizzes have been created