.list-container 

  %p Click a title to take the quiz

  %ul{class: 'listings'}

  - if @quizzes.count > 0
    - @quizzes.each do |quiz|
      %li 
        = link_to quiz.title, quiz 
        %span{class: 'author'}
          added by
          = quiz.author
        %span
          - link_to 'Edit', edit_quiz_path(quiz)
          - link_to 'Delete', controller: 'quizzes', action: 'destroy', id: quiz.id
  - else
    %p No quizzes have been created